.menu-nav {
    background-color: bisque;
    
}     
.menu-nav ul{
    display: flex;
    margin:0px;
    list-style: none;    
    justify-content: center;
    align-items: center;
    height: 40px;
    
}
.menu-nav a{
    padding: 15px;
    color:#525453
}

.container-base{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    align-items: center;
    background-image: url(stranget-things.png);
    height: 500px;
    padding: 20px 20px;
    color: #FFF;
}

.container-base>img{
    max-height: 100%;
    max-width: 100%;
}