.menu-nav {
    background-color: bisque;
    
}     
.menu-nav ul{
    display: flex;
    margin:0px;
    list-style: none;    
    justify-content: center;
    align-items: center;
    height: 40px;
    
}
.menu-nav a{
    padding: 15px;
    color:#525453
}